<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">
                    <ya-tr-span data-index="9-0" data-translated="false" data-source-lang="en" data-target-lang="ru"
                                data-value="Back to top" data-translation="Наверх" data-ch="0" data-type="trSpan"
                                style="visibility: inherit !important;">Back to top
                    </ya-tr-span>
                </a>
            </p>
        </div>
    </footer>
</div>