<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en"
                                           data-target-lang="ru" data-value="Главная страница"
                                           data-translation="Главная страница" data-ch="0" data-type="trSpan"
                                           style="visibility: inherit !important;">Главная страница</ya-tr-span></span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/game">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Enterprise" data-translation="Покупка игр" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Покупка игр
                </ya-tr-span>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/article">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Enterprise" data-translation="Статьи" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Статьи
                </ya-tr-span>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">
                <ya-tr-span data-index="4-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Support" data-translation="О нас" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">О нас
                </ya-tr-span>
            </a>
<!--            код на будущее-->
<!--            <a class="py-2 link-body-emphasis text-decoration-none" href="#">-->
<!--                <ya-tr-span data-index="5-0" data-translated="true" data-source-lang="en" data-target-lang="ru"-->
<!--                            data-value="Pricing" data-translation="Цены" data-ch="0" data-type="trSpan"-->
<!--                            style="visibility: inherit !important;">Цены-->
<!--                </ya-tr-span>-->
<!--            </a>-->
        </nav>
    </div>
</div>