<div th:fragment="headerRoot">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/root" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en"
                                           data-target-lang="ru" data-value="Главная страница"
                                           data-translation="Главная страница" data-ch="0" data-type="trSpan"
                                           style="visibility: inherit !important;">Главная страница</ya-tr-span></span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/gameRoot">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Enterprise" data-translation="Изменить список игр" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Изменить список игр
                </ya-tr-span>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/game/addRoot">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Pricing" data-translation="Добавить игру " data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Добавить игру
                </ya-tr-span>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/article/addRoot">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Enterprise" data-translation="Добавить статью" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Добавить статью
                </ya-tr-span>
            </a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/articleMainRoot">
                <ya-tr-span data-index="3-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                            data-value="Enterprise" data-translation="Редактирование статей" data-ch="0" data-type="trSpan"
                            style="visibility: inherit !important;">Редактирование статей
                </ya-tr-span>
            </a>
        </nav>
    </div>
</div>